.list {
  margin-top: -90px;
}
.btn {
  position: absolute;
  margin: 75px 30px;
}

.task-list {
  margin-top: -70px;
}

.task-ul {
  list-style: none;
  margin: auto;
  padding: 0%;
}
.singleTodo {
  width: 500px;
  border: solid 1px black;
  padding: 5px 10px;
  align-items: flex-start;
}

.actions-btn {
  margin-left: 20px;
}
